.jumbotron {
  height: 30vh;
  margin: 0vh;
  padding-right: 0px;
  background-size: cover;
}

.height {
  height: 30vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#location-search {
  width: 40vw;
  height: 6vh;
  background-color: lightgrey;
  border: none;
  outline: none;
  color: black;
  border-radius: 3px;
}

h3 {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
}

.header img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 15vh;
  width: 10vw;
}
.logo {
  background-color: lightgrey;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}


.btn{
  height: 6vh;
}

#slider {
  height: 65vh;
  margin-top: 2%;
}

.footer {
  height: 30vh;
  background-color: lightgrey;
}
