.height {
  height: 40vh;
  width: 100vw;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#location-search {
  width: 40vw;
  height: 6vh;
  background-color: white;
  border: none;
  outline: none;
  color: black;
  border-radius: 3px;
}

#logo {
  
}
