body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-family: 'Cookie', cursive;
  text-align: center;
}

p {
  font-size: 16px;
  margin-top: 2%;
  font-family: 'Cookie', cursive;
}

.height {
  height: 30vh;
  width: 100vw;
  background-color: white;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#location-search {
  width: 40vw;
  height: 6vh;
  background-color: lightgrey;
  border: none;
  outline: none;
  color: black;
  border-radius: 3px;
}


.header img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 15vh;
  width: 10vw;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}


div#captionslider {
  overflow: hidden;
  height: 85vh;
}

div#captionslider figure img {
  width: 20%;
  float: left;
}

figure {
  margin: 0;
}
figure.slider {
	position: relative;
	width: 500%;
	font-size: 0;
	animation: 40s slidy infinite;
}
figure.slider figure {
	width: 20%;
	height: 85vh;
	display: inline-block;
	position: inherit;
}

figure.slider img {
	width: 100%;
	height: 85vh;
}
figure.slider figure figcaption {
  position: absolute;
	bottom: 30rem;
	background: rgba(0,0,0,0.3);
	color: #fff;
	width: 100%;
	font-size: 2rem;
	padding: .6rem;
	transition: .5s bottom;
}
figure.slider figure:hover figcaption {
	bottom: 0;
}
figure.slider figure:hover + figure figcaption {
	bottom: 0;
}

.footer {
  height: 30vh;
  background-color: #a0a7b2;
}

h2:before {
  display: inline-block;
  margin: 0px 20px 5px 0px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 140px;
}

h2:after {
  content: " ";
  display: inline-block;
  width: 140px;
  height: 3px;
  background-color: #999;
  margin: 0px 0px 5px 20px;
}

.fb {
  margin-right: -20px;
  transition: 1s;
  position: relative;
  bottom: 0px;
}

.twitter {
  margin-right: -20px;
  transition: 1s;
  position: relative;
  bottom: 0px;
}

.fb:hover {
  border-color: rgba(16, 16, 146, 0.57);
  transition: 1s;
  background-color: rgba(80, 80, 202, 0.27);
  box-shadow: 5px 5px 5px rgba(16, 16, 146, 0.57);
  position: relative;
  bottom: 20px;
}

.twitter:hover {
  border-color: #84bad0;
  transition: 0.75s;
  background-color: rgba(132, 186, 208, 0.17);
  box-shadow: 5px 5px 5px #84bad0;
  position: relative;
  bottom: 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:962px) {
  .section {
    margin: 250px 0px 0px 200px;
  }
}

@media (max-width:662px) {
  .section {
    margin: 250px 0px 0px 80px;
    height: 70%;
  }
  img {
    border: 2px solid rgba(158, 158, 158, 0.4);
    border-radius: 50px;
    padding: 15px;
    width: 32px;
    height: 32px;
  }
}

@media (max-width:362px) {
  .section {
    margin: 250px 0px 0px 30px;
  }
  img {
    border: 2px solid rgba(158, 158, 158, 0.4);
    border-radius: 50px;
    padding: 15px;
    width: 16px;
    height: 16px;
  }
}

.center {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  font-size: 6px;
}
