.height {
  height: 40vh;
  width: 100vw;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#location-search {
  width: 40vw;
  height: 6vh;
  background-color: white;
  border: none;
  outline: none;
  color: black;
  border-radius: 3px;
}

.header img {
  width: 100px;
  height: 100px;
  background-color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
