.height {
  height: 30vh;
  width: 100vw;
  background-color: white;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#location-search {
  width: 40vw;
  height: 6vh;
  background-color: lightgrey;
  border: none;
  outline: none;
  color: black;
  border-radius: 3px;
}


.header img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 15vh;
  width: 10vw;
}

.footer {
  height: 30vh;
  background-color: #a0a7b2;
}

h2 {
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 40px;
}

.fb {
  margin-right: -20px;
  transition: 1s;
  position: relative;
  bottom: 0px;

}

.twitter {
  margin-right: -20px;
  transition: 1s;
  position: relative;
  bottom: 0px;
}

.fb:hover {
  border-color: rgba(16, 16, 146, 0.57);
  transition: 1s;
  background-color: rgba(80, 80, 202, 0.27);
  box-shadow: 5px 5px 5px rgba(16, 16, 146, 0.57);
  position: relative;
  bottom: 20px;
}

.twitter:hover {
  border-color: #84bad0;
  transition: 0.75s;
  background-color: rgba(132, 186, 208, 0.17);
  box-shadow: 5px 5px 5px #84bad0;
  position: relative;
  bottom: 20px;
}

.center {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 6px;
}
p {
  font-family: 'Cookie', cursive;
  margin-top: 2%;
  font-size: 18px;
}
